aiohttp
aiosignal
altair
async-timeout
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
decorator
faiss-cpu
frozenlist
gitdb
GitPython
greenlet
idna
importlib-metadata
Jinja2
jsonschema
jsonschema-specifications
langchain
langsmith
markdown-it-py
MarkupSafe
marshmallow
marshmallow-enum
mdurl
multidict
mypy-extensions
numexpr
numpy
openai
openapi-schema-pydantic
packaging
pandas
Pillow
pip
protobuf
pyarrow
pydantic
pydeck
Pygments
Pympler
PyPDF2
python-dateutil
python-dotenv
pytz
pytz-deprecation-shim
PyYAML
referencing
regex
requests
rich
rpds-py
setuptools
six
smmap
SQLAlchemy
streamlit
tenacity
tiktoken
toml
toolz
tornado
tqdm
typing_extensions
typing-inspect
tzdata
tzlocal
urllib3
validators
watchdog           
yarl                
zipp                